@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');
@import url('./__figure/lead__figure.css');

.lead {
  max-width: calc(100% - 148px * 2); 
  margin-right: 148px; 
  margin-left: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin-bottom: 92px;
  margin-top: 0px;
}

@media screen and (max-width: 1024px) { 

  .lead {
    max-width: calc(100% - 48px * 2);
    margin-left: 48px;
    margin-right: 48px; 
  }
 
}

@media screen and (max-width: 768px) { 

  .lead {
    max-width: calc(100% - 24px * 2); 
    margin-left: 0px;
    margin-right: 0px; 
    margin-bottom: 88px;
  }

}

@media screen and (max-width: 320px) { 

  .lead {
    max-width: calc(100% - 16px * 2); 
    margin-bottom: 64px;
   /* margin-left: 16px;
    margin-right: 16px; */
  }

}