.footer__column_content_info {
  display: flex;
  min-height: 18px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
} 

@media screen and (max-width : 320px) { 
  
  .footer__column_content_info {
    flex-direction: column; 
  }

}