@import url('./__logo/header__logo.css');
@import url('./__column/header__column.css');
@import url('./__link/header__link.css');
@import url('./__link/_active/header__link_active.css');

.header {

  display: flex; 
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 148px * 2);
  margin: auto;
  margin-top: 0px;
  margin-bottom: 58px;
  padding-top: 34px;
}

@media screen and (max-width: 1024px) {

  .header {
  max-width: calc(100% - 48px * 2);
  margin-bottom: 50px;
  } 
  
}

@media screen and (max-width: 768px) { 

  .header {
    max-width: calc(100% - 24px * 2);
  } 

}

@media screen and (max-width : 320px) { 

  .header {
    max-width: calc(100% - 16px * 2);
  } 

}