.footer__link {
  display: flex;
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Inter','Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF; 
  margin-bottom: 0px;
}

.footer__link:hover:first-child {
  opacity: 0.8;
}


@media screen and (max-width : 320px) { 
  
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }

}