@import url('./__title/intro__title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 92px;
  color: #FFFFFF;
  font-weight: 900;
  max-width: calc(100% - 148px * 2);
  margin-left: 148px;
  margin-right: 148px;
}


@media screen and (max-width: 1024px) {

  .intro {
    max-width: calc(100% - 48px * 2); 
    margin-bottom: 92px;
    margin-left: 48px;
    margin-right: 48px;
  }

}

@media screen and (max-width: 768px) { 

  .intro {
    max-width: calc(100% - 24px * 2);
    margin-bottom: 88px; 
    margin-left: 24px;
    margin-right: 24px;
  }

}

@media screen and (max-width : 320px) { 

  .intro {
    max-width: calc(100% - 16px * 2); 
    margin-bottom: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
}