@import url('./_columns/footer_columns_content-info.css');
@import url('./__link/footer__link.css');
@import url('./_columns/footer_columns_author.css');

.footer {
  max-width: calc(100% - 48px * 2);
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  justify-content: center; 
  margin-top: 92px;
  margin-bottom: 24px;
  color: #FFFFFF;

}

@media screen and (max-width : 768px) { 
  
  .footer {
    max-width: calc(100% - 24px * 2);
    margin-left: 24px;

    }
}

@media screen and (max-width : 320px) { 
  
  .footer {
    max-width: calc(100% - 16px * 2);
    margin-left: 16px;
    flex-direction: column;
    }
}