@import url('./__columns/footer__columns.css');
@import url('./__link/footer__link.css');
@import url('./__columns/_content/footer__columns_content_info.css');
@import url('./__columns/_content/footer__columns_content_author.css');

.footer {
  max-width: calc(100% - 48px * 2);
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  margin-top: 92px;
  margin-bottom: 0px;
  color: #FFFFFF;
  padding-bottom: 24px;
}

@media screen and (max-width : 768px) { 
  
  .footer {
    max-width: calc(100% - 24px * 2);
    margin-left: 24px;
  }
}

@media screen and (max-width : 320px) { 
  
  .footer {
    max-width: calc(100% - 16px * 2);
    margin-left: 16px;
    flex-direction: column; 
  }
}