.footer__columns_content_info {
  min-height: 18px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}


@media screen and (max-width : 320px) { 
 
  .footer__columns_content_info { 
    flex-direction: column;
  }
  
} 