.footer__columns_content_author {
  flex-wrap: wrap; 
  margin-top: 2px;
  font-family: 'Inter','Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: flex; 
  justify-content: flex-end;
}

@media screen and (max-width : 320px) { 
  
  .footer__columns_content_author {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  }
}
