@import url('./__item-photo/grid__item-photo.css');

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:16px;
  padding-left: 0;
  grid-template-rows: auto;
  box-sizing: border-box; 
  justify-content: center; 
}


@media screen and (max-width: 1024px) {
 
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:14px;
  }
}

@media screen and (max-width: 768px) { 
  
  .grid {
    grid-template-columns: 1fr 1fr;
  } 
}

@media screen and (max-width : 320px) { 
   
  .grid {
    grid-template-columns: 1fr;
    grid-gap:12px;
  }
}